%% LIVR positive/01-required (case: required, form: proplists)
%% Source: https://github.com/koorchik/LIVR/tree/44f0453b2cff7fdbb23c6cf48abe29fa8c601bf8/test_suite/positive/01-required
%% Imported for liver; iso_date outputs use Erlang {Y,M,D} dates.
%% Proplist fixtures preserve JSON key order from json:decode/3.

[
    {name, required},
    {rules, [
        {<<"first_name">>, required},
        {<<"last_name">>, [required]},
        {<<"middle_name">>, [
            [
                {required, []}
            ]
        ]},
        {<<"salary">>, [
            {required, []}
        ]}
    ]},
    {input, [
        {<<"first_name">>, <<"Vasya">>},
        {<<"last_name">>, <<"Pupkin">>},
        {<<"middle_name">>, <<"Some">>},
        {<<"age">>, <<"25">>},
        {<<"salary">>, 0}
    ]},
    {output, [
        {<<"first_name">>, <<"Vasya">>},
        {<<"last_name">>, <<"Pupkin">>},
        {<<"middle_name">>, <<"Some">>},
        {<<"salary">>, 0}
    ]}
].
