%% LIVR positive/07-length_between (case: length_between, form: proplists)
%% Source: https://github.com/koorchik/LIVR/tree/44f0453b2cff7fdbb23c6cf48abe29fa8c601bf8/test_suite/positive/07-length_between
%% Imported for liver; iso_date outputs use Erlang {Y,M,D} dates.
%% Proplist fixtures preserve JSON key order from json:decode/3.

[
    {name, length_between},
    {rules, [
        {<<"first_name">>, [
            {length_between, [4, 6]}
        ]},
        {<<"last_name">>, [
            {length_between, [6, 6]}
        ]},
        {<<"middle_name">>, [
            [
                {length_between, [0, 100]}
            ]
        ]},
        {<<"nick_name">>, [
            [
                {length_between, [0, 100]}
            ]
        ]},
        {<<"number1">>, [
            {length_between, [2, 4]}
        ]},
        {<<"empty_name">>, [
            {length_between, [2, 3]}
        ]},
        {<<"missed_name">>, [
            {length_between, [2, 3]}
        ]}
    ]},
    {input, [
        {<<"first_name">>, <<"Vasya">>},
        {<<"last_name">>, <<"Pupkin">>},
        {<<"middle_name">>, <<"Some name">>},
        {<<"nick_name">>, <<"joney_k">>},
        {<<"number1">>, 1111},
        {<<"empty_name">>, <<>>},
        {<<"extra_name">>, <<"extra_name">>}
    ]},
    {output, [
        {<<"first_name">>, <<"Vasya">>},
        {<<"last_name">>, <<"Pupkin">>},
        {<<"middle_name">>, <<"Some name">>},
        {<<"nick_name">>, <<"joney_k">>},
        {<<"number1">>, <<"1111">>},
        {<<"empty_name">>, <<>>}
    ]}
].
