%% LIVR positive/17-equal_to_field (case: equal_to_field, form: proplists)
%% Source: https://github.com/koorchik/LIVR/tree/44f0453b2cff7fdbb23c6cf48abe29fa8c601bf8/test_suite/positive/17-equal_to_field
%% Imported for liver; iso_date outputs use Erlang {Y,M,D} dates.
%% Proplist fixtures preserve JSON key order from json:decode/3.

[
    {name, equal_to_field},
    {rules, [
        {<<"field1">>, [
            {equal_to_field, <<"field2">>}
        ]},
        {<<"field2">>, [
            {equal_to_field, [<<"field1">>]}
        ]},
        {<<"field3">>, [
            {equal_to_field, [<<"field1">>]}
        ]},
        {<<"empty_field">>, [
            {equal_to_field, <<"field2">>}
        ]}
    ]},
    {input, [
        {<<"field1">>, <<"some value">>},
        {<<"field2">>, <<"some value">>},
        {<<"field3">>, <<"some value">>},
        {<<"empty_field">>, <<>>},
        {<<"extra_field">>, <<"some value">>}
    ]},
    {output, [
        {<<"field1">>, <<"some value">>},
        {<<"field2">>, <<"some value">>},
        {<<"field3">>, <<"some value">>},
        {<<"empty_field">>, <<>>}
    ]}
].
