%% LIVR positive/18-nested_object (case: nested_object, form: proplists)
%% Source: https://github.com/koorchik/LIVR/tree/44f0453b2cff7fdbb23c6cf48abe29fa8c601bf8/test_suite/positive/18-nested_object
%% Imported for liver; iso_date outputs use Erlang {Y,M,D} dates.
%% Proplist fixtures preserve JSON key order from jsx:decode/1.

[
    {name, nested_object},
    {rules, [
        {<<"address">>, [
            required,
            [
                {nested_object, [
                    {<<"country">>, [
                        required,
                        [
                            {one_of, [
                                [<<"Ukraine">>, <<"USA">>]
                            ]}
                        ]
                    ]},
                    {<<"zip">>, positive_integer},
                    {<<"street">>, required},
                    {<<"building">>, [required, positive_integer]}
                ]}
            ]
        ]},
        {<<"should_not_be_errored">>, [
            {nested_object, [
                {<<"zip">>, positive_integer}
            ]}
        ]},
        {<<"should_be_empty">>, [
            required,
            [
                {nested_object, [
                    {<<"country">>, [
                        [
                            {one_of, [
                                [<<"Ukraine">>, <<"USA">>]
                            ]}
                        ]
                    ]},
                    {<<"zip">>, positive_integer}
                ]}
            ]
        ]}
    ]},
    {input, [
        {<<"address">>, [
            {<<"country">>, <<"Ukraine">>},
            {<<"zip">>, <<"12345">>},
            {<<"street">>, <<"10">>},
            {<<"building">>, <<"10">>},
            {<<"extra_field">>, <<"will be removed">>}
        ]},
        {<<"should_not_be_errored">>, <<>>},
        {<<"should_be_empty">>, [
            {<<"extra_field">>, <<"will be removed">>}
        ]},
        {<<"extra_field">>, <<"will be removed">>}
    ]},
    {output, [
        {<<"address">>, [
            {<<"country">>, <<"Ukraine">>},
            {<<"zip">>, 12345},
            {<<"street">>, <<"10">>},
            {<<"building">>, 10}
        ]},
        {<<"should_not_be_errored">>, <<>>},
        {<<"should_be_empty">>, [{}]}
    ]}
].
