%% LIVR positive/22-not_empty_list (case: not_empty_list, form: proplists)
%% Source: https://github.com/koorchik/LIVR/tree/44f0453b2cff7fdbb23c6cf48abe29fa8c601bf8/test_suite/positive/22-not_empty_list
%% Imported for liver; iso_date outputs use Erlang {Y,M,D} dates.
%% Proplist fixtures preserve JSON key order from json:decode/3.

[
    {name, not_empty_list},
    {rules, [
        {<<"list_with_numbers">>, not_empty_list},
        {<<"list_with_objects">>, [
            [
                {not_empty_list, []}
            ]
        ]},
        {<<"list_with_arrays">>, not_empty_list}
    ]},
    {input, [
        {<<"list_with_numbers">>, [0]},
        {<<"list_with_objects">>, [
            [{}],
            [
                {<<"key">>, <<"123">>}
            ]
        ]},
        {<<"list_with_arrays">>, [
            [1, 2, 3]
        ]},
        {<<"extra_field">>, [1, 2, 3]}
    ]},
    {output, [
        {<<"list_with_numbers">>, [0]},
        {<<"list_with_objects">>, [
            [{}],
            [
                {<<"key">>, <<"123">>}
            ]
        ]},
        {<<"list_with_arrays">>, [
            [1, 2, 3]
        ]}
    ]}
].
