%% LIVR positive/23-url (case: url, form: proplists)
%% Source: https://github.com/koorchik/LIVR/tree/44f0453b2cff7fdbb23c6cf48abe29fa8c601bf8/test_suite/positive/23-url
%% Imported for liver; iso_date outputs use Erlang {Y,M,D} dates.
%% Proplist fixtures preserve JSON key order from jsx:decode/1.

[
    {name, url},
    {rules, [
        {<<"url1">>, url},
        {<<"url2">>, [
            {url, []}
        ]},
        {<<"url3">>, [
            [
                {url, []}
            ]
        ]},
        {<<"empty_field">>, url}
    ]},
    {input, [
        {<<"url1">>, <<"https://google.com">>},
        {<<"url2">>, <<"HTTP://127.0.0.1:3233/?param_1=123&param_2=asd">>},
        {<<"url3">>, <<"http://webbylab.com/?param_1=123#anchor">>},
        {<<"empty_field">>, <<>>},
        {<<"extra_field">>, <<"aaaa">>}
    ]},
    {output, [
        {<<"url1">>, <<"https://google.com">>},
        {<<"url2">>, <<"HTTP://127.0.0.1:3233/?param_1=123&param_2=asd">>},
        {<<"url3">>, <<"http://webbylab.com/?param_1=123#anchor">>},
        {<<"empty_field">>, <<>>}
    ]}
].
