%% LIVR positive/31-to_lc (case: to_lc, form: proplists)
%% Source: https://github.com/koorchik/LIVR/tree/44f0453b2cff7fdbb23c6cf48abe29fa8c601bf8/test_suite/positive/31-to_lc
%% Imported for liver; iso_date outputs use Erlang {Y,M,D} dates.
%% Proplist fixtures preserve JSON key order from jsx:decode/1.

[
    {name, to_lc},
    {rules, [
        {<<"string_value">>, to_lc},
        {<<"decimal_value">>, [to_lc]},
        {<<"unicode_string">>, to_lc},
        {<<"object">>, [
            {nested_object, [
                {<<"string_value">>, to_lc}
            ]}
        ]},
        {<<"list_of_string_values">>, [
            {list_of, to_lc}
        ]},
        {<<"to_lc_with_another_rule">>, [to_lc, required]}
    ]},
    {input, [
        {<<"string_value">>, <<"Value">>},
        {<<"decimal_value">>, 1.2},
        {<<"unicode_string">>, <<"ПРИВЕТ"/utf8>>},
        {<<"object">>, [
            {<<"string_value">>, <<"Some Value">>}
        ]},
        {<<"list_of_string_values">>, [
            <<"VALUE1">>,
            [
                {<<"key">>, <<"123">>}
            ],
            <<"VALUE2">>
        ]},
        {<<"to_lc_with_another_rule">>, <<"Value">>}
    ]},
    {output, [
        {<<"string_value">>, <<"value">>},
        {<<"decimal_value">>, <<"1.2">>},
        {<<"unicode_string">>, <<"привет"/utf8>>},
        {<<"object">>, [
            {<<"string_value">>, <<"some value">>}
        ]},
        {<<"list_of_string_values">>, [
            <<"value1">>,
            [
                {<<"key">>, <<"123">>}
            ],
            <<"value2">>
        ]},
        {<<"to_lc_with_another_rule">>, <<"value">>}
    ]}
].
