%% LIVR positive/33-remove (case: remove, form: proplists)
%% Source: https://github.com/koorchik/LIVR/tree/44f0453b2cff7fdbb23c6cf48abe29fa8c601bf8/test_suite/positive/33-remove
%% Imported for liver; iso_date outputs use Erlang {Y,M,D} dates.
%% Proplist fixtures preserve JSON key order from json:decode/3.

[
    {name, remove},
    {rules, [
        {<<"string_value">>, [
            {remove, <<"V ">>}
        ]},
        {<<"object">>, [
            {nested_object, [
                {<<"string_value">>, [
                    {remove, <<"a-zv|">>}
                ]}
            ]}
        ]},
        {<<"list_of_string_values">>, [
            {list_of, [
                {remove, <<"2">>}
            ]}
        ]}
    ]},
    {input, [
        {<<"string_value">>, <<"Value value Value">>},
        {<<"object">>, [
            {<<"string_value">>, <<"Value-value |Value|">>}
        ]},
        {<<"list_of_string_values">>, [
            <<"value1">>,
            [
                {<<"key">>, <<"123">>}
            ],
            <<"value2">>
        ]}
    ]},
    {output, [
        {<<"string_value">>, <<"aluevaluealue">>},
        {<<"object">>, [
            {<<"string_value">>, <<"Vluelue Vlue">>}
        ]},
        {<<"list_of_string_values">>, [
            <<"value1">>,
            [
                {<<"key">>, <<"123">>}
            ],
            <<"value">>
        ]}
    ]}
].
