%% LIVR positive/35-default (case: default, form: proplists)
%% Source: https://github.com/koorchik/LIVR/tree/44f0453b2cff7fdbb23c6cf48abe29fa8c601bf8/test_suite/positive/35-default
%% Imported for liver; iso_date outputs use Erlang {Y,M,D} dates.
%% Proplist fixtures preserve JSON key order from jsx:decode/1.

[
    {name, default},
    {rules, [
        {<<"empty_value1">>, [
            {default, [10]}
        ]},
        {<<"empty_value2">>, [
            {default, [
                []
            ]}
        ]},
        {<<"empty_value3">>, [
            [
                {default, [{}]}
            ]
        ]},
        {<<"zero_value">>, [
            {default, 10}
        ]},
        {<<"null_value">>, [
            {default, <<"12">>}
        ]},
        {<<"missed_value">>, [
            {default, <<"15">>}
        ]},
        {<<"string_value">>, [
            {default, 10}
        ]},
        {<<"object">>, [
            {default, 10}
        ]},
        {<<"list_of_string_values">>, [
            {default, 10}
        ]}
    ]},
    {input, [
        {<<"empty_value1">>, <<>>},
        {<<"empty_value2">>, <<>>},
        {<<"empty_value3">>, <<>>},
        {<<"zero_value">>, 0},
        {<<"null_value">>, null},
        {<<"string_value">>, <<"Value">>},
        {<<"object">>, [
            {<<"name">>, <<"Value">>}
        ]},
        {<<"list_of_string_values">>, [
            <<"value1">>,
            [
                {<<"key">>, <<"123">>}
            ],
            <<"value2">>
        ]}
    ]},
    {output, [
        {<<"empty_value1">>, 10},
        {<<"empty_value2">>, []},
        {<<"empty_value3">>, [{}]},
        {<<"zero_value">>, 0},
        {<<"null_value">>, <<"12">>},
        {<<"missed_value">>, <<"15">>},
        {<<"string_value">>, <<"Value">>},
        {<<"object">>, [
            {<<"name">>, <<"Value">>}
        ]},
        {<<"list_of_string_values">>, [
            <<"value1">>,
            [
                {<<"key">>, <<"123">>}
            ],
            <<"value2">>
        ]}
    ]}
].
