%% LIVR negative/17-equal_to_field (case: equal_to_field, form: maps)
%% Source: https://github.com/koorchik/LIVR/tree/44f0453b2cff7fdbb23c6cf48abe29fa8c601bf8/test_suite/negative/17-equal_to_field
%% Imported for liver; iso_date outputs use Erlang {Y,M,D} dates.
%% Proplist fixtures preserve JSON key order from jsx:decode/1.

#{
    input => #{
        <<"empty_field">> => <<>>,
        <<"extra_field">> => <<"some value">>,
        <<"field1">> => <<"some value1">>,
        <<"field2">> => <<"some value">>,
        <<"field3">> => <<"some value">>,
        <<"value_is_array">> => [<<"test">>, 1],
        <<"value_is_empty_array">> => [],
        <<"value_is_empty_hash">> => #{},
        <<"value_is_hash">> => #{
            <<"test">> => 1
        }
    },
    name => equal_to_field,
    rules => #{
        <<"empty_field">> => #{
            equal_to_field => <<"field2">>
        },
        <<"field1">> => #{
            equal_to_field => <<"field2">>
        },
        <<"field2">> => #{
            equal_to_field => [<<"field1">>]
        },
        <<"field3">> => #{
            equal_to_field => [<<"field1">>]
        },
        <<"value_is_array">> => #{
            equal_to_field => <<"field2">>
        },
        <<"value_is_empty_array">> => #{
            equal_to_field => <<"field2">>
        },
        <<"value_is_empty_hash">> => #{
            equal_to_field => <<"field2">>
        },
        <<"value_is_hash">> => #{
            equal_to_field => <<"field2">>
        }
    },
    errors => #{
        <<"field1">> => <<"FIELDS_NOT_EQUAL">>,
        <<"field2">> => <<"FIELDS_NOT_EQUAL">>,
        <<"field3">> => <<"FIELDS_NOT_EQUAL">>,
        <<"value_is_array">> => <<"FORMAT_ERROR">>,
        <<"value_is_empty_array">> => <<"FORMAT_ERROR">>,
        <<"value_is_empty_hash">> => <<"FORMAT_ERROR">>,
        <<"value_is_hash">> => <<"FORMAT_ERROR">>
    }
}.
