%% LIVR negative/23-url (case: url, form: maps)
%% Source: https://github.com/koorchik/LIVR/tree/44f0453b2cff7fdbb23c6cf48abe29fa8c601bf8/test_suite/negative/23-url
%% Imported for liver; iso_date outputs use Erlang {Y,M,D} dates.
%% Proplist fixtures preserve JSON key order from json:decode/3.

#{
    input => #{
        <<"empty_field">> => <<>>,
        <<"extra_field">> => <<"aaaa">>,
        <<"url1">> => <<"www.google.com">>,
        <<"url2">> => <<"ftp://facebook.com">>,
        <<"url3">> => <<"http://g_oogle.com">>,
        <<"value_is_array">> => [<<"test">>, 1],
        <<"value_is_empty_array">> => [],
        <<"value_is_empty_hash">> => #{},
        <<"value_is_hash">> => #{
            <<"test">> => 1
        }
    },
    name => url,
    rules => #{
        <<"empty_field">> => url,
        <<"url1">> => url,
        <<"url2">> => #{
            url => []
        },
        <<"url3">> => [
            #{
                url => []
            }
        ],
        <<"value_is_array">> => url,
        <<"value_is_empty_array">> => url,
        <<"value_is_empty_hash">> => url,
        <<"value_is_hash">> => url
    },
    errors => #{
        <<"url1">> => <<"WRONG_URL">>,
        <<"url2">> => <<"WRONG_URL">>,
        <<"url3">> => <<"WRONG_URL">>,
        <<"value_is_array">> => <<"FORMAT_ERROR">>,
        <<"value_is_empty_array">> => <<"FORMAT_ERROR">>,
        <<"value_is_empty_hash">> => <<"FORMAT_ERROR">>,
        <<"value_is_hash">> => <<"FORMAT_ERROR">>
    }
}.
