%% erlang_standard positive/26-rule_set_compose (case: rule_set_compose)
%% Fixture for liver CT; default rule_set is erlang_standard.

#{input => #{m => 3,n => <<"10">>},
  name => rule_set_compose,
  output => #{m => 3,n => 10},
  opts => #{rule_set => [livr_spec,erlang_standard]},
  rules => #{m => is_pos_integer,n => integer}}.
