%% erlang_standard negative/11-is_integer_under_livr_spec (case: is_integer_under_livr_spec)
%% Fixture for liver CT; default rule_set is erlang_standard.

#{input => #{n => 10},
  name => is_integer_under_livr_spec,
  opts => #{rule_set => livr_spec},
  rules => #{n => is_integer},
  errors => #{n => {unimplemented_rule,is_integer}}}.
