%% LIVR positive/18-nested_object (case: nested_object, form: maps)
%% Source: https://github.com/koorchik/LIVR/tree/44f0453b2cff7fdbb23c6cf48abe29fa8c601bf8/test_suite/positive/18-nested_object
%% Imported for liver; iso_date outputs use Erlang {Y,M,D} dates.
%% Proplist fixtures preserve JSON key order from jsx:decode/1.

#{
    input => #{
        <<"address">> => #{
            <<"building">> => <<"10">>,
            <<"country">> => <<"Ukraine">>,
            <<"extra_field">> => <<"will be removed">>,
            <<"street">> => <<"10">>,
            <<"zip">> => <<"12345">>
        },
        <<"extra_field">> => <<"will be removed">>,
        <<"should_be_empty">> => #{
            <<"extra_field">> => <<"will be removed">>
        },
        <<"should_not_be_errored">> => <<>>
    },
    name => nested_object,
    output => #{
        <<"address">> => #{
            <<"building">> => 10,
            <<"country">> => <<"Ukraine">>,
            <<"street">> => <<"10">>,
            <<"zip">> => 12345
        },
        <<"should_be_empty">> => #{},
        <<"should_not_be_errored">> => <<>>
    },
    rules => #{
        <<"address">> => [
            required,
            #{
                nested_object => #{
                    <<"building">> => [required, positive_integer],
                    <<"country">> => [
                        required,
                        #{
                            one_of => [
                                [<<"Ukraine">>, <<"USA">>]
                            ]
                        }
                    ],
                    <<"street">> => required,
                    <<"zip">> => positive_integer
                }
            }
        ],
        <<"should_be_empty">> => [
            required,
            #{
                nested_object => #{
                    <<"country">> => [
                        #{
                            one_of => [
                                [<<"Ukraine">>, <<"USA">>]
                            ]
                        }
                    ],
                    <<"zip">> => positive_integer
                }
            }
        ],
        <<"should_not_be_errored">> => #{
            nested_object => #{
                <<"zip">> => positive_integer
            }
        }
    }
}.
