%% LIVR negative/07-length_between (case: length_between, form: proplists)
%% Source: https://github.com/koorchik/LIVR/tree/44f0453b2cff7fdbb23c6cf48abe29fa8c601bf8/test_suite/negative/07-length_between
%% Imported for liver; iso_date outputs use Erlang {Y,M,D} dates.
%% Proplist fixtures preserve JSON key order from json:decode/3.

[
    {name, length_between},
    {rules, [
        {<<"first_name">>, [
            {length_between, [7, 10]}
        ]},
        {<<"last_name">>, [
            {length_between, [4, 5]}
        ]},
        {<<"middle_name">>, [
            [
                {length_between, [2, 3]}
            ]
        ]},
        {<<"empty_name">>, [
            {length_between, [4, 10]}
        ]},
        {<<"value_is_hash">>, [
            {length_between, [7, 10]}
        ]},
        {<<"value_is_empty_hash">>, [
            {length_between, [7, 10]}
        ]},
        {<<"value_is_array">>, [
            {length_between, [7, 10]}
        ]},
        {<<"value_is_empty_array">>, [
            {length_between, [7, 10]}
        ]}
    ]},
    {input, [
        {<<"first_name">>, <<"Vasya">>},
        {<<"last_name">>, <<"Pupkin">>},
        {<<"middle_name">>, <<"Some name">>},
        {<<"empty_name">>, <<>>},
        {<<"extra_name">>, <<"extra_name">>},
        {<<"value_is_hash">>, [
            {<<"test">>, 1}
        ]},
        {<<"value_is_empty_hash">>, [{}]},
        {<<"value_is_array">>, [<<"test">>, 1]},
        {<<"value_is_empty_array">>, []}
    ]},
    {errors, [
        {<<"first_name">>, <<"TOO_SHORT">>},
        {<<"last_name">>, <<"TOO_LONG">>},
        {<<"middle_name">>, <<"TOO_LONG">>},
        {<<"value_is_hash">>, <<"FORMAT_ERROR">>},
        {<<"value_is_empty_hash">>, <<"FORMAT_ERROR">>},
        {<<"value_is_array">>, <<"FORMAT_ERROR">>},
        {<<"value_is_empty_array">>, <<"FORMAT_ERROR">>}
    ]}
].
