%% LIVR negative/09-integer (case: integer, form: proplists)
%% Source: https://github.com/koorchik/LIVR/tree/44f0453b2cff7fdbb23c6cf48abe29fa8c601bf8/test_suite/negative/09-integer
%% Imported for liver; iso_date outputs use Erlang {Y,M,D} dates.
%% Proplist fixtures preserve JSON key order from jsx:decode/1.

[
    {name, integer},
    {rules, [
        {<<"number1">>, integer},
        {<<"number2">>, [integer]},
        {<<"number3">>, [
            [
                {integer, []}
            ]
        ]},
        {<<"empty_field">>, integer},
        {<<"value_is_string">>, integer},
        {<<"value_is_hash">>, integer},
        {<<"value_is_empty_hash">>, integer},
        {<<"value_is_array">>, integer},
        {<<"value_is_empty_array">>, integer}
    ]},
    {input, [
        {<<"number1">>, <<"A">>},
        {<<"number2">>, <<"0.12">>},
        {<<"number3">>, -1.12},
        {<<"empty_field">>, <<>>},
        {<<"extra_field">>, <<"100">>},
        {<<"value_is_string">>, <<"some_string">>},
        {<<"value_is_hash">>, [
            {<<"test">>, 1}
        ]},
        {<<"value_is_empty_hash">>, [{}]},
        {<<"value_is_array">>, [<<"test">>, 1]},
        {<<"value_is_empty_array">>, []}
    ]},
    {errors, [
        {<<"number1">>, <<"NOT_INTEGER">>},
        {<<"number2">>, <<"NOT_INTEGER">>},
        {<<"number3">>, <<"NOT_INTEGER">>},
        {<<"value_is_string">>, <<"NOT_INTEGER">>},
        {<<"value_is_hash">>, <<"FORMAT_ERROR">>},
        {<<"value_is_empty_hash">>, <<"FORMAT_ERROR">>},
        {<<"value_is_array">>, <<"FORMAT_ERROR">>},
        {<<"value_is_empty_array">>, <<"FORMAT_ERROR">>}
    ]}
].
