%% LIVR negative/18-nested_object (case: nested_object, form: proplists)
%% Source: https://github.com/koorchik/LIVR/tree/44f0453b2cff7fdbb23c6cf48abe29fa8c601bf8/test_suite/negative/18-nested_object
%% Imported for liver; iso_date outputs use Erlang {Y,M,D} dates.
%% Proplist fixtures preserve JSON key order from json:decode/3.

[
    {name, nested_object},
    {rules, [
        {<<"address">>, [
            required,
            [
                {nested_object, [
                    {<<"country">>, [
                        required,
                        [
                            {one_of, [
                                [<<"Ukraine">>, <<"USA">>]
                            ]}
                        ]
                    ]},
                    {<<"zip">>, positive_integer},
                    {<<"street">>, required},
                    {<<"building">>, [required, positive_integer]}
                ]}
            ]
        ]},
        {<<"address2">>, [
            {nested_object, [
                {<<"country">>, required}
            ]}
        ]}
    ]},
    {input, [
        {<<"address">>, [
            {<<"country">>, <<"Russia">>},
            {<<"zip">>, <<"AAA">>},
            {<<"street">>, <<>>},
            {<<"building">>, <<"-10">>}
        ]},
        {<<"address2">>, <<"Should be hash">>}
    ]},
    {errors, [
        {<<"address">>, [
            {<<"country">>, <<"NOT_ALLOWED_VALUE">>},
            {<<"zip">>, <<"NOT_POSITIVE_INTEGER">>},
            {<<"street">>, <<"REQUIRED">>},
            {<<"building">>, <<"NOT_POSITIVE_INTEGER">>}
        ]},
        {<<"address2">>, <<"FORMAT_ERROR">>}
    ]}
].
